# Exécutables
*.exe
*.exe~
*.dll
*.so
*.dylib

# Fichiers de test
*.test
*.out

# Dépendances Go
/vendor/
go.work

# Sauvegarde
save.json
*.bak

# Fichiers IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
desktop.ini

# Build
/build/
/dist/

# Logs
*.log
